[submodule "frontend"]
	path = frontend
	url = https://github.com/Bachelor-Thesis-Szewior-Joachim/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Bachelor-Thesis-Szewior-Joachim/backend.git
